.container {
  padding: 8px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.card {
  padding: 0 0 16px 0;
  font-family: 'Cormorant Infant', serif;
  font-size: 18px;
}
